<a href="" class="dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-envelope-o"></i>
    <span class="label label-success">{{ messages.length }}</span>
  </a>
<ul class="dropdown-menu">
  <li class="header">You have {{ messages.length }} messages</li>
  <li>
    <!-- inner menu: contains the actual data -->
    <ul class="menu">
      <li ng-repeat="message in messages">
        <!-- start message -->
        <a href="">
          <div class="pull-left">
            <img ng-src="{{ message.img }}" class="img-circle" alt="User Image">
          </div>
          <h4>
            {{ message.name }}
            <small><i class="fa fa-clock-o"></i> {{ message.date }}</small>
          </h4>
          <p>{{ message.title | mensajeCorto }}</p>
        </a>
      </li>
      <!-- end message -->
    </ul>
  </li>
  <li class="footer"><a href="#">See All Messages</a></li>
</ul>