<a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-bell-o"></i>
    <span class="label label-warning" ng-hide="notifications.length === 0">{{ notifications.length }}
    </span>
  </a>
  <ul class="dropdown-menu">
    <li class="header">You have {{ notifications.length }} notifications</li>
    <li>
      <!-- inner menu: contains the actual data -->
      <ul class="menu">
        <li ng-repeat="notification in notifications">
          <a href="">
            <i class="fa {{ notification.icon }} text-info"></i> {{ notification.message }}
          </a>
        </li>
      </ul>
    </li>
    <li class="footer"><a href="#">View all</a></li>
  </ul>